/* GLOBAL SETTINGS */

html,
body {
     width: 100%;
     height: 100%;
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 0;
}

body {
    background-image: url(img/bg1.jpg);
    background-attachment: fixed;
    background-size: cover;
    /* background-position: center; */

    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    /* background-image: url(img/header1.jpg);
    background-position: center;
    background-size: cover; */
}
 
section {
    padding: 20px 0;
}

hr {
    max-width: 300px;
    border-color: #4c40f0bb;
    border-width: 3px;
}


p {
    font-family:Arial;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.btn {
    text-transform: uppercase;
    border-radius: 300px;
    font-weight: 700;
    padding: 15px 30px;
    border: 0;
}

.import-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }

.import-button input[type=file] {
font-size: 100px;
position: absolute;
left: 0;
top: 0;
opacity: 0;
}
/* SECTIONS */

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    /* background-image: url(img/header1.jpg);
    background-position: center;
    background-size: cover; */
}

header .section1 {
    position: relative;
    width: 100%;
    padding: 50px 15px;
    text-align: center;
    background-color: #4948118e;
}
 
header .section1 .topPageContent h1 {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
}
header p {
    color:#ffffffb3;
    margin-bottom: 30px;
}


.btn-primary {
    background-color: #4c40f0bb;
    color: #fff;
}

#about p {
    color: #000000b3;
}

.btn-default {
    background-color: white;
    color: #0026ffe6;
}

.btn-default:hover {
    background-color: #0026ffe6;
    color: #ffffff;
}

.btn-secondary {
    background-color: white;
    color: black;
}

.btn-secondary:hover {
    background-color: #0026ffe6;
    color: #ffffff;
}


#about {
    /* background-color: #f05f40; */
    color: white;
    background-image: linear-gradient(#4948118e, #ffffffda);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

hr.whiteDash {
    border-color: #fff
}

.goneGap > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

#services {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
    /* background-color: #ffffffda; */
    background-image: linear-gradient(#4948118e, #ffffff);
}

h2 {
    color: #000000;
}
h3 {
    color: #000000;
}

.iconBox p{
    color:#000000;
} 

.iconBox img {
    width: 50%;
    height: 50%;
}

#portfolio {
    background-image: linear-gradient(#ffffff00, #ffffff);
}


#portfolio img {
    height: 100%;
    max-width:100%;
    min-width:400px;
    max-height: 400px;
    vertical-align: middle;
}

.blurb {
    color: white;
    /* background-color: black; */
    background-image: linear-gradient(#ffffff, #4849118e);
}

#contact {
    position: relative;
    width: 100%;
    padding: 50px 15px;
    text-align: center;
    background-color: #4948118e;
    color:#ffffff;
}

#contact img {
    width: 30%;
    height: 30%;
    filter: invert(100%);
}







/* Effect and text oover section: portfolio  */

/* establish the box over the picture */
.picBox {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

    /* create box to hold ALL texts */
    .picBox .picComment {
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        color: #fff;
        opacity: 0;
        background: #473f3de6;
        -webkit-transition: all .35s;
        -moz-transition: all .35s;
        transition: all .35s;
    }
        /* create upper comment/text box */
        .picBox .picComment .commentBox {
            position: absolute;
            top: 50%;
            width: 100%;
            text-align: center;
            transform: translateY(-50%);
        }


        .picBox .picComment .commentBox .commentTop, .picBox .picComment .commentBox .commentBottom {
            padding: 0 15px;
            font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
        } 


        .picBox .picComment .commentBox .commentTop {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
        }

        .picBox .picComment .commentBox .commentBottom {
            font-size: 18px;
        }


        .picBox:hover .picComment {
            opacity: 1;
        }



/* NAVBAR SETTINGS */


/* default adjustments */
.navbar {
    /* border-bottom: 1px solid #4c40f0bb; */
    font-family: 'Open Sans', Arial;
    /* what is transition for? */
    transition: all .35s;
}

.navbar {
    min-height:50px;
    height: 50px;
  }

  .navbar li a, .navbar-brand {
    padding:1px;
  }

.navbar-default{
    transition:500ms ease;
    background:transparent;
    }

.navbar-default.scrolled {
background:#ffffffc7;
}

/* .navbar-default.scrolled .navbar-nav {
    background-color: #fffb00;

} */

.navbar-default.scrolled .nav-item {
    background-color: #ffffffc7;
    padding: 1px;
    border-radius: 5px 10px;
    /* border: 2px solid #5c5c5c; */
}

/* .navbar-default.scrolled .nav-item a {
    color: #0400ff;
} */

/* .navbar-default.scrolled a {
    color: #00ff15;
} */

    /* LEFT SIDE OF NAVBAR  "the Bootstrap Page" */
    /* idle/default settings */

    .logo {
        width: 50px;
        height: auto;
    }
    
    .navbar-default .navbar-brand {
        text-transform: uppercase;
        font-weight: 700;
        font-family: 'Open Sans', Arial;
        color: #0026ffe6;
        
        /* border: 2px solid #5c5c5c; */
        padding: 2px;
        border-radius: 10px 10px;
        text-shadow: -1px 0 #000000, 0 1px #000000, 0 -1px #000000, 0 -1px #000000;
    }
        /* MOUSE OVER EFFECT */
        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-brand:focus {
            color: #0026ffe6;
        }

    /* RIGHTSIDE LINKS ------------------------------*/
    .navbar-default .navbar-nav .nav-item .nav-link {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 1000;
        color: #000000;
        background-color: #ffffffc7;
        border: 2px solid #5c5c5c;
        padding: 2px;
        border-radius: 5px 10px;
    }
        /* ACTIVE / FOCUS highlight */
        .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
            color: #0026ffe6;
        }
        /* MOUSE OVER EFFECT */
        .navbar-nav .nav-item .nav-link:hover {
            color:#4c40f0bb;
        }