<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Yakjiu.com</title>

    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet"
        type="text/css">
    <link href="/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/stylish-portfolio.css" rel="stylesheet">

    
    <link rel="icon" href="/logo/webicon.png">
</head>

<body id="page-top">

    <!-- Header -->
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <img src="/logo/logotrans.png" class="img-responsive" style="width: 80%">
            <h1 class="mb-1">Disclaimer</h1>
            <h3 class="mb-5">
                <em>The Mystery Shopping Platform solution for mid-size corporations</em>
            </h3>

            The information contained in this website is for general information purposes only. The information is provided by HS Brands and while we endeavor to keep the information up to date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.<br>
            <br>
            In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.<br>
            <br>
            Through this website you are able to link to other websites which are not under the control of HS Brands. We have no control over the nature, content and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.<br>
            <br>
            Every effort is made to keep the website up and running smoothly. However, HS Brands takes no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control.
        </div>    
    </header>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/stylish-portfolio.min.js"></script>
    <!-- login modal pop -->
    <script>
        $(document).ready(function () {
            if (window.location.href.indexOf('#login') != -1) {
                $('#login').modal('show');
            }
        });
            function popupForgetpassword() {
        var jobWindow = window.open(`/shopper/forgetpassword`, "forgetpasswordwindow", "width=400,height=500,status=0,menubar=0,directories=0,top=0,left=10");
    }
    </script>
    
</body>
</html>