<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Yakjiu.com</title>

    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet"
        type="text/css">
    <link href="/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/stylish-portfolio.css" rel="stylesheet">

    
    <link rel="icon" href="/logo/webicon.png">
</head>

<body id="page-top">

    <!-- Navigation -->
    <a class="menu-toggle rounded" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a class="js-scroll-trigger" href="#page-top">Start Yakjiu!</a>
            </li>
            <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="#page-top">Home</a>
            </li>
            <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="#services">Services</a>
            </li>
            <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="#callout">Signup</a>
            </li>
        </ul>
    </nav>

    <!-- Header -->
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <img src="/logo/logotrans.png" class="img-responsive" style="width: 80%">
            <h1 class="mb-1">Welcome to Yakjiu</h1>
            <h3 class="mb-5">
                <em>The Mystery Shopping Platform solution for mid-size corporations</em>
            </h3>
            <a class="btn btn-primary btn-lg js-scroll-trigger" data-toggle="modal" data-target="#login" style="font-size: 1.4em">Sign In</a>
        </div>
        <div class="overlay"></div>

        <!-- The Modal -->
        <div class="modal fade" id="login">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <!-- Modal body -->

                    <div class="container register">
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                            aria-controls="home" aria-selected="true">Shopper</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                            aria-controls="profile" aria-selected="false">Client</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active text-align form-new" id="home" role="tabpanel"
                                        aria-labelledby="home-tab">
                                        <h3 class="register-heading">Shopper Login</h3>
                                        <p style="color:white">Don't have a <b>Shopper</b> account? <a href="/shopper/register" class="btnForgetPwd">Signup 

                                        here!</p></a>
                                                        
                                                        
                                        <div class="row register-form">
                                            <div class="col-md-12">
                                                <form method="post" action="/shopper/login">
                                                    <div class="form-group">
                                                        <input type="text" name="username" class="form-control"
                                                            placeholder="Your Username *" value="" required="" />
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="password" name="password" class="form-control"
                                                            placeholder="Your Password *" value="" required="" />
                                                    </div>
                                                    <div class="form-group">
                                                        {{!-- <input type="submit" name="LGform1" class="btnContactSubmit"
                                                            value="Login" /> --}}
                                                        <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                                                        <a href="#" onclick="popupForgetpassword()" class="btnForgetPwd" value="Login">Forget
                                                            Password?</a>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade show text-align form-new" id="profile" role="tabpanel"
                                        aria-labelledby="profile-tab">
                                        <h3 class="register-heading">Client Login</h3>
                                        <p style="color:white">Don't have a <b>Client</b> account? Contact us!
                                        
                                        {{!-- LINK TO CREATE CLIENT ACCOUNT --}}
                                        {{!-- <a href="createClientAccount" class="btnForgetPwd" value="Login">here!</p></a> --}}
                                        <div class="row register-form">
                                            <div class="col-md-12">
                                                <form method="post" action="/client/login">
                                                    <div class="form-group">
                                                        <input type="text" name="username" class="form-control"
                                                            placeholder="Your Username *" value="" required="" />
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="password" name="password" class="form-control"
                                                            placeholder="Your Password *" value="" required="" />
                                                    </div>
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                                                        <p style="color:white;">If client forget password, Please contact our customer support.</p>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

    </header>

    <!-- About -->
    <section class="content-section bg-light" id="about">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h2>Mystery Shopping Made Easy with YakJiu</h2>
                    <p class="lead mb-5">YakJiu has recognized the need a quick and easy solution for SME's (including the small mom & pop stores) to have a quick and easy Mystery Shopping tool - a simple solution without all the bling that other top agencies provide at a high premium entry start-up cost. Here at YakJiu allows the owners / direct managers to create their own mystery shop in less than 10mins.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Services -->
    <section class="content-section bg-primary text-white text-center" id="services">
        <div class="container">
            <div class="content-section-heading">
                <h2 class="mb-5">What We Offer</h2>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                    <span class="service-icon rounded-circle mx-auto mb-3">
                        <i class="icon-screen-smartphone"></i>
                    </span>
                    <h4>
                        <strong>Mobility</strong>
                    </h4>
                    <p class="text-faded mb-0">Create & Complete Surveys on the Go!</p>
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                    <span class="service-icon rounded-circle mx-auto mb-3">
                        <i class="icon-pencil"></i>
                    </span>
                    <h4>
                        <strong>Flexibility</strong>
                    </h4>
                    <p class="text-faded mb-0">Customize you own survey for your own needs</p>
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                    <span class="service-icon rounded-circle mx-auto mb-3">
                        <i class="icon-like"></i>
                    </span>
                    <h4>
                        <strong>Favorited</strong>
                    </h4>
                    <p class="text-faded mb-0">Immediate access to Shoppers</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <span class="service-icon rounded-circle mx-auto mb-3">
                        <i class="icon-mustache"></i>
                    </span>
                    <h4>
                        <strong>Customize</strong>
                    </h4>
                    <p class="text-faded mb-0">Contact us with any unique requests</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Callout -->
    <section class="callout" id="callout">
        <div class="container text-center">
            <h2 class="mx-auto mb-5">Create your <em>Free</em>
                 YakJiu account now!</h2>
            <a class="btn btn-danger btn-lg" href="/shopper/register">Become a Shopper!</a>
            <a class="btn btn-info btn-lg mx-1" href="#">Become a Client!</a>
        </div>
    </section>

    <!-- Callout -->
    <section class="services-detail" id="mobility">
        <div class="container text-center">
            <div class="container">
                <div class="col-lg-12 ">
                    <div class="row">
                        <!-- 1ST COLUMN (MOBILITY) -->
                        <div class="col-sm-4">
                            <div class="form-group">
                                <h1>Mobility</h1>
                            </div>
                        </div>

                    <!-- 2ND COLUMN (MOBILITY) -->
                    <div class="col-sm-8">
                        <div class="form-group">
                            <ul>
                                <li>Immediate access to your progress & reports</li>
                                <li>Functionality on your PC or smartphone</li>
                                <li>Immediate notification of survey completion status</li><br><br><br>
                        </ul>
                        </div>
                    </div>

                    <!-- 2ND COLUMN (FLEXIBILTY) -->
                    <div class="col-sm-8">
                        <div class="form-group">
                            <ul>
                                <li>Create your own survey for shopper to follow</li>
                                <li>Make your own unique campaigns for multiple surveys</li>
                                <li>Set expiration date for survey to be completed</li><br><br><br>
                        </ul>
                        </div>
                    </div>

                    <!-- 1ST COLUMN (FLEXIBILTY) -->
                    <div class="col-sm-4">
                        <div class="form-group">
                            <h1>Flexibility</h1>
                        </div>
                    </div>

                    <!-- 1ST COLUMN (FAVORITED) -->
                    <div class="col-sm-4">
                        <div class="form-group">
                            <h1>Favorited</h1>
                        </div>
                    </div>

                    <!-- 2ND COLUMN (FAVORITED) -->
                    <div class="col-sm-8">
                        <div class="form-group">
                            <ul>
                                <li>100s of new clients every month</li>
                                <li>Regonized as top 10 most popular apps for 2018</li>
                                <li>Angel Investors looking to inject over (USD)$500 million</li><br><br><br>
                        </ul>
                        </div>
                    </div>

                    <!-- 2ND COLUMN (CUSTOMIZE) -->
                    <div class="col-sm-8">
                        <div class="form-group">
                            <ul>
                                <li>Refine & Define exactly what information you wish to attain</li>
                                <li>Flexible packages available depending on size of survey you wish to create</li>
                                <li>Mobile (Andoird & iOS) app coming soon!</li><br><br><br>
                        </ul>
                        </div>
                    </div>

                    <!-- 1ST COLUMN (CUSTOMIZE) -->
                    <div class="col-sm-4">
                        <div class="form-group">
                            <h1>Customize</h1>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </section>

<!-- Contact -->
    <section class="contact" id="contact">
        <div class="row">
            <div class="col-md-2 ml-md-auto">
                <div class="form-group text-left">
                    <h1>Contact</h1>
                    YakJiu Enterprise Limited<br>
                    Penthouse Suite, IFC, Central, Hong Kong<br>
                    Tel: +852 8888 8888<br>
                    Email: <a href="mailto:info@yakjiu.com">info@yakjiu.com</a><br>
                    Customer Support: <a href="mailto:support@yakjiu.com">support@yakjiu.com</a><br>
                </div>
            </div>
            <div class="col-md-0 ml-md-auto"> </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer text-center">
        <div class="container">
            <ul class="list-inline mb-5">
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white mr-3" href="#">
                        <i class="icon-social-facebook"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white mr-3" href="#">
                        <i class="icon-social-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white" href="#">
                        <i class="icon-social-github"></i>
                    </a>
                </li>
            </ul>
            <p class="text-muted small mb-0">Copyright &copy; Yakjiu.com 2018<br>
            Disclaimer</p>
            
        </div>
    </footer>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/stylish-portfolio.min.js"></script>
    <!-- login modal pop -->
    <script>
        $(document).ready(function () {
            if (window.location.href.indexOf('#login') != -1) {
                $('#login').modal('show');
            }
        });
            function popupForgetpassword() {
        var jobWindow = window.open(`/shopper/forgetpassword`, "forgetpasswordwindow", "width=400,height=500,status=0,menubar=0,directories=0,top=0,left=10");
    }
    </script>
    
</body>
</html>