<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Yakjiu.com</title>

    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet"
        type="text/css">
    <link href="/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/stylish-portfolio.css" rel="stylesheet">

    
    <link rel="icon" href="/logo/webicon.png">
</head>

<body id="page-top">

    <!-- Header -->
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <img src="/logo/logotrans.png" class="img-responsive" style="width: 80%">
            <h1 class="mb-1">Disclaimer</h1><br>
            <br>
DESCRIPTION : This page shows all the shops assigned to a shopper, shop grades and comments, and allows to deactivate the shopper account as well as to go to the Contact Scheduler page.<br>
<br>
<h2>NOTES:</h2><br>
<br>
<h2>Shopper ID</h2><br>
In parenthesis below your name you can find your shopper identification number for this Mystery Shopping Company.<br>
<br>
<h2>Number of Shops</h2><br>
This is the total number of shops you have assigned to you.<br>
<br>
<br>
<h2>Average Shop Grade (Optional)</h2><br>
This is the average of your shop grades from all shops.<br>
<br>
<br>
<h2>Most Recent Shop Grade (Optional)</h2><br>
This is the shop grade from your last shop<br>
<br>
<br>
<h2>Activate/Deactivate Account</h2><br>
You can also see if your account is Active or Deactivated. To disable an active account (and stop receiving shop posting emails from this mystery shopping company), please click "Deactivate This Account" button. To activate a disabled account click on the email address provided to send a message to the Mystery Shopping Company you are shopping for and request this as they have the ability to activate your account. <br>
<br>
<br>
<h2>The Shop Log</h2><br>
This is a list of all shops assigned to you. To submit your survey click Submit link. To print the form click Print link.<br>
<br>
<br>
<h2>Status</h2><br>
The most important statuses for you are:<br>
New - This shop has been assigned to you but you have not entered any data for the shop yet. <br>
Incomplete - You have started filling out the form but you have not completed all required questions on the survey. <br>
Completed - You have completed the shop fully by answering all the required questions.<br>
Received - Your shop is being reviewed or finalized by an administrator from the mystery shopping company you shop for. They may send you a shop grade and shop comments to let you know how you did on your shop. This ONLY means that the shop is past the "Completed" status and is being handled by the MSP. <br>
<br>
<br>
<h2>Date</h2><br>
Shop Due - This is the date you have to visit the location by and do the mystery shop.<br>
Survey Due - This is the date by which your fully completed survey is due. By this date your shop should be in "Completed" status.<br>
Don't shop before - This is the date on and after which you can do the shop. The shop cannot be done before this date.<br>
<br>
<br>
<h2>Company-Survey</h2><br>
This displays:<br>
Company name for the mystery shop<br>
Survey name for the mystery shop<br>
<br>
<br>
<h2>Location</h2><br>
This displays the place for this mystery shop:<br>
Location Name and ID<br>
Location City and State or Province<br>
<br>
<br>
<h2>Shop Fees</h2><br>
Shop Fee - This is how much you will be paid for doing the mystery shop.<br>
Expenses: Up to - This is up to how much expenses you will be reimbursed for.<br>
Special Expenses - If any will be entered here.<br>
<br>
<br>
<h2>Shop Grade/Comments <br>
Any shop grade and comments you received from the administrator at the mystery shopping company after reviewing your completed survey will be displayed here. <br>
<br>
<br>
Also you can click the link Click here ONLY if you need help with this shop to email your scheduler with questions or if you have difficulties with a particular shop.
        </div>    
    </header>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/stylish-portfolio.min.js"></script>
    <!-- login modal pop -->
    <script>
        $(document).ready(function () {
            if (window.location.href.indexOf('#login') != -1) {
                $('#login').modal('show');
            }
        });
            function popupForgetpassword() {
        var jobWindow = window.open(`/shopper/forgetpassword`, "forgetpasswordwindow", "width=400,height=500,status=0,menubar=0,directories=0,top=0,left=10");
    }
    </script>
    
</body>
</html>