     <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/test5.css">
    
<body data-spy='scroll' data-target='.navbar' data-offset='50'>
    <nav class="navbar navbar-default navbar-expand-lg navbar-light fixed-top">
        <a class="navbar-brand" href="#topPage"><img class='logo' src="img/logo.png">Welcome to JakYiu</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="#navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#about">Intro <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#services">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio">Identity</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

    <header>
        <div class="section1" id="topPage">
            <div class="topPageContent">
                <h1>Welcome to YakJiu</h1>
                <hr class="darkDash">
                <br>
                <p>The Mystery Shopping Platform solution for mid-size corporations<br>
                    <br>
                    Login as:</p>




                <!-- BEGIN # MODAL LOGIN -->
                <div class="modal fade" id="login-modal-client" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" align="center">
                                <img class="img-circle" id="img_logo" src="http://bootsnipp.com/img/logo.jpg">
                                <span style="color: black">Client login</span>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                            </div>

                            <!-- Begin # DIV Form -->
                            <div id="div-forms">

                                <!-- Begin # Login Form -->
                                <form id="login-form-client" action="/client/login" method="post">
                                    <div class="modal-body">
                                        <div id="div-login-msg">
                                            <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                                            <span id="text-login-msg">Type your username and password.</span>
                                        </div>
                                        <input id="login_username" name="username" class="form-control" type="text"
                                            placeholder="Username (type ERROR for error effect)" required>
                                        <input id="login_password" name="password" class="form-control" type="password"
                                            placeholder="Password" required>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Remember me
                                            </label>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <div>
                                            <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                                        </div>
                                        <div>
                                            <button id="login_lost_btn" type="button" class="btn btn-link">Lost
                                                Password?</button>
                                            <button id="login_register_btn" type="button" class="btn btn-link">Register</button>
                                        </div>
                                    </div>
                                </form>
                                <!-- End # Login Form -->

                                <!-- Begin | Lost Password Form -->
                                <form id="lost-form" style="display:none;">
                                    <div class="modal-body">
                                        <div id="div-lost-msg">
                                            <div id="icon-lost-msg" class="glyphicon glyphicon-chevron-right"></div>
                                            <span id="text-lost-msg">Type your e-mail.</span>
                                        </div>
                                        <input id="lost_email" class="form-control" type="text" placeholder="E-Mail (type ERROR for error effect)"
                                            required>
                                    </div>
                                    <div class="modal-footer">
                                        <div>
                                            <button type="submit" class="btn btn-primary btn-lg btn-block">Send</button>
                                        </div>
                                        <div>
                                            <button id="lost_login_btn" type="button" class="btn btn-link">Log In</button>
                                            <button id="lost_register_btn" type="button" class="btn btn-link">Register</button>
                                        </div>
                                    </div>
                                </form>
                                <!-- End | Lost Password Form -->

                                <!-- Begin | Register Form -->
                                <form id="register-form" style="display:none;">
                                    <div class="modal-body">
                                        <div id="div-register-msg">
                                            <div id="icon-register-msg" class="glyphicon glyphicon-chevron-right"></div>
                                            <span id="text-register-msg">Register an account.</span>
                                        </div>
                                        <input id="register_username" class="form-control" type="text" placeholder="Username (type ERROR for error effect)"
                                            required>
                                        <input id="register_email" class="form-control" type="text" placeholder="E-Mail"
                                            required>
                                        <input id="register_password" class="form-control" type="password" placeholder="Password"
                                            required>
                                    </div>
                                    <div class="modal-footer">
                                        <div>
                                            <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
                                        </div>
                                        <div>
                                            <button id="register_login_btn" type="button" class="btn btn-link">Log In</button>
                                            <button id="register_lost_btn" type="button" class="btn btn-link">Lost
                                                Password?</button>
                                        </div>
                                    </div>
                                </form>
                                <!-- End | Register Form -->

                            </div>
                            <!-- End # DIV Form -->

                        </div>
                    </div>
                </div>
                <!-- END # MODAL LOGIN -->

                                <!-- BEGIN # MODAL LOGIN -->
                <div class="modal fade" id="login-modal-shopper" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" align="center">
                                <img class="img-circle" id="img_logo" src="http://bootsnipp.com/img/logo.jpg">
                                <span style="color: black">Shopper login</span>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                            </div>

                            <!-- Begin # DIV Form -->
                            <div id="div-forms">

                                <!-- Begin # Login Form -->
                                <form id="login-form-shopper" action="/shopper/login" method="post">
                                    <div class="modal-body">
                                        <div id="div-login-msg">
                                            <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                                            <span id="text-login-msg">Type your username and password.</span>
                                        </div>
                                        <input id="login_username" name="username" class="form-control" type="text"
                                            placeholder="Username (type ERROR for error effect)" required>
                                        <input id="login_password" name="password" class="form-control" type="password"
                                            placeholder="Password" required>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Remember me
                                            </label>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <div>
                                            <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                                        </div>
                                        <div>
                                            <button id="login_lost_btn" type="button" class="btn btn-link">Lost
                                                Password?</button>
                                            <button id="login_register_btn" type="button" class="btn btn-link">Register</button>
                                        </div>
                                    </div>
                                </form>
                                <!-- End # Login Form -->

                                <!-- Begin | Lost Password Form -->
                                <form id="lost-form" style="display:none;">
                                    <div class="modal-body">
                                        <div id="div-lost-msg">
                                            <div id="icon-lost-msg" class="glyphicon glyphicon-chevron-right"></div>
                                            <span id="text-lost-msg">Type your e-mail.</span>
                                        </div>
                                        <input id="lost_email" class="form-control" type="text" placeholder="E-Mail (type ERROR for error effect)"
                                            required>
                                    </div>
                                    <div class="modal-footer">
                                        <div>
                                            <button type="submit" class="btn btn-primary btn-lg btn-block">Send</button>
                                        </div>
                                        <div>
                                            <button id="lost_login_btn" type="button" class="btn btn-link">Log In</button>
                                            <button id="lost_register_btn" type="button" class="btn btn-link">Register</button>
                                        </div>
                                    </div>
                                </form>
                                <!-- End | Lost Password Form -->

                                <!-- Begin | Register Form -->
                                <form id="register-form" style="display:none;">
                                    <div class="modal-body">
                                        <div id="div-register-msg">
                                            <div id="icon-register-msg" class="glyphicon glyphicon-chevron-right"></div>
                                            <span id="text-register-msg">Register an account.</span>
                                        </div>
                                        <input id="register_username" class="form-control" type="text" placeholder="Username (type ERROR for error effect)"
                                            required>
                                        <input id="register_email" class="form-control" type="text" placeholder="E-Mail"
                                            required>
                                        <input id="register_password" class="form-control" type="password" placeholder="Password"
                                            required>
                                    </div>
                                    <div class="modal-footer">
                                        <div>
                                            <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
                                        </div>
                                        <div>
                                            <button id="register_login_btn" type="button" class="btn btn-link">Log In</button>
                                            <button id="register_lost_btn" type="button" class="btn btn-link">Lost
                                                Password?</button>
                                        </div>
                                    </div>
                                </form>
                                <!-- End | Register Form -->

                            </div>
                            <!-- End # DIV Form -->

                        </div>
                    </div>
                </div>
                <!-- END # MODAL LOGIN -->


                <a href="#" class="btn btn-primary btn-x1 page-scroll" role="button" data-toggle="modal" data-target="#login-modal-client">Client</a>
                <a href="#" class="btn btn-primary btn-x1 page-scroll" role="button" data-toggle="modal" data-target="#login-modal-shopper">Shopper</a>
            </div>
        </div>
    </header>

    <section class="sections" id="about">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Learn more about Yak Jiu</h2>
                    <hr class="darkDash">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-12 text-center">
                    <div class="iconBox">
                        <img src="img/flower-icon.png">
                        <h3>Client</h3>
                        <p>
                            <ul>
                                <li>What is YakJiu?</li>
                                <li>Why use YakJiu?</li>
                                <li>What can YakJiu do for your business?</li>
                                <li>How much for a Jiu?</li>

                            </ul>
                        </p>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 text-center">
                    <div class="iconBox">
                        <img src="img/phone-icon.png">
                        <h3>Shopper</h3>
                        <p>
                            <ul>
                                <li>How to make $ from YakJiu?</li>
                                <li>How to use YakJiu?</li>
                                <li>How to become a professional YakJiu expert?</li>
                            </ul>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="sections" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Executive Summary</h1>
                    <hr class="whiteDash">
                    <p>A CBC (Chinese born Canadian) currently residing in Hong Kong. Currently taking a break after
                        work in HR Consultancy space for 10 years, and jumping into the deep end by enrolling into an
                        intensive 12 week software engineering boot-camp. Knowledgeable in Recruitment, KPIs,
                        Soft-skills training, structured interview training, employee motivation & engagement,
                        leadership training & coaching.
                        <br><em>Not suitable for full-time in-house HR role</em></p>
                    <a href="https://www.linkedin.com/in/dannyl/" target="_blank" class="btn btn-default btn-xl">LinkedIn
                        User Level: Grand Master</a>
                </div>
            </div>
        </div>
    </section>

    <section class="sections" id="services">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Traits & Attributes</h2>
                    <hr class="darkDash">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 text-center">
                    <div class="iconBox">
                        <img src="img/flower-icon.png">
                        <h3>Straight Shooter</h3>
                        <p>Communication is vital, and as such I provide as much transparency to the best of my
                            knowledge when having to articulate myself. <em>I have been known to be overly blunt at
                                times</em></p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6  text-center">
                    <div class="iconBox">
                        <img src="img/payment-icon.png">
                        <h3>Action = Loud</h3>
                        <p>Execution is my forte. <br>I speak and move with purpose. Conversely, I listen when spoken
                            to... your choice of words, intonation. I observe facial expression and watch body
                            posture/movements.</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 text-center">
                    <div class="iconBox">
                        <img src="img/truck-icon.png">
                        <h3>Project Planning (Strategist)</h3>
                        <p>My natural thought process is know to obtain a clear consice goal (and why). Then evaluate
                            what it entails including: risks, time-frame, assets necessary, financials, unknown
                            variables. </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 text-center">
                    <div class="iconBox">
                        <img src="img/phone-icon.png">
                        <h3>Time = $$$</h3>
                        <p>Prioritization is reflected in how I manage by do-to on a daily basis. There is no higher
                            commodity to me than my time, which is factored into what goes into my calendar.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pictures" id="portfolio">
        <div class="container-fluid">
            <div class="row goneGap">

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="picBox">
                        <img src="img/1sec4.jpg" class="picture">
                        <div class="picComment">
                            <div class="commentBox">
                                <div class="commentTop">Always</div>
                                <div class="commentBottom">Canadian</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="picBox">
                        <img src="img/2sec4.jpg" class="picture">
                        <div class="picComment">
                            <div class="commentBox">
                                <div class="commentTop">Enjoys Wake-Boarding</div>
                                <div class="commentBottom">& watersports</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="picBox">
                        <img src="img/3sec4.jpg" class="picture">
                        <div class="picComment">
                            <div class="commentBox">
                                <div class="commentTop">Happy Hour</div>
                                <div class="commentBottom">is Important</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="picBox">
                        <img src="img/4sec4.jpg" class="picture">
                        <div class="picComment">
                            <div class="commentBox">
                                <div class="commentTop">My Type</div>
                                <div class="commentBottom">of Humor</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="blurb" id="access">
        <div class="container-fluid">
            <div class="row goneGap">
                <div class="col-lg-12 text-center">
                    <div class="blurbText">
                        <h2>Access to online portfolio</h2>
                        <a href="#about" class="btn btn-secondary btn-xl page-scroll">Link to GitHub</a>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Reaching out to Danny</h1>
                    <hr class="darkDash">
                    <p>Message me via my junk email below or call via the burner number.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 offset-md-3 text-center">
                    <img src="img/call-icon.png">
                    <p>+852 9840 3859</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 offset-md-3 text-center">
                    <img src="img/email-icon.png">
                    <p><a href="mailto:dannyfleung@gmail.com">DamnFingGood@gmail.com</a></p>
                </div>
            </div>

        </div>
    </section>
    <!--- custom js --->
    <script src="js/test5.js"></script>

