<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/shopper">Index</a>
    </li>
    <li class="breadcrumb-item active">Success</li>
</ol>
<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-xs-8 col-sm-6 my-5">
                <img src="/img/happybanana.jpg" class="mx-auto img-fluid" style="width:800px">
            </div>
            <div class="col-xs-4 col-sm-6 my-auto text-center" style="font-size:300%">
                {{msg}}
            </div>
        </div>
    </div>
</div>